.products {
    width: 50%;
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    border: 1px solid #ccc;
    background-color: #fff
}

.card-footer {
    margin-top: 20px;
    padding: 10px 1rem;
}

.line-card {
    border-bottom: 1px solid #b6b5b5;
}

.line-card svg  {
    margin-right: 7px;
    width: 20px;
}

.line-card b{
    margin-right: 5px;
}